
/* IMPORT */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);




/* VARIABLES */

$gqTransparent: rgba(0,0,0,0);
$gqCopyShadow: rgba(0,0,0,0.004);
$gqTopMenuBG: rgba(0,0,0,0.65);
$gqWhite: #ffffff;
$gqBlue: #041a5f;
$gqOrange: #cb7817;
$gqDarkOrange: #b56b14;
$gqBrown: #523f2f;
$gqBlack: #202020;
$gqBeige: #f8e6a4;
$gqYellow: #f5d751;
$gqRed: #e52319;

$headerHeight: 500px;
$menuHeight: 68px;
$logoSize: $headerHeight - ($menuHeight * 2);
$footerHeight: 194px;
$primaryMargin: 40px;
$footerLogoWidth: 200px;
$footerLogoSpacing: 50px;
$aboutBoxHeight: 100px;
$aboutBoxWidth: 310px;

$breakSmall: 860px;
$smLogoBreak: 980px;
$breakBig: 1200px;




/* MIXINS */

@mixin initZero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin fontCopy {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px $gqCopyShadow;
}

@mixin fontTitle {
  font-family: 'Oswald', Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px $gqCopyShadow;
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin menuImage {
  height: $menuHeight;
  width: auto;
  padding: 0 10px;
  margin: 0 10px;
}

@mixin menuButton($thisImage, $thisWidth) {
  display: inline-block;
  height: $menuHeight;
  width: $thisWidth;
  padding: 0 10px;
  margin: 0 10px;
  background-size: $thisWidth;
  background-image: url($thisImage);
  background-repeat: no-repeat;
  background-position: bottom;
  &:hover {
    background-position: top;
  }
}

@mixin linkNormal {
  //
}

@mixin linkHover {
  //
}

@mixin fullWidth {
  // Enable background of element to extend to full-width
  // Not suitable for monitors the size of the moon
  margin-left: -9999px;
  margin-right: -9999px;
  padding-left: 9999px;
  padding-right: 9999px;
}

@mixin widgetReset {
  list-style-type: none;
}

@mixin homeTitle {
  @include fontTitle;
  width: 200px;
  font-size: 24px;
  color: $gqBlue;
  text-align: right;
  vertical-align: top;
  margin-bottom: 20px;

  @media screen and (max-width: $breakSmall) {
    text-align: left;
  }
}

@mixin homeTitleAndContent {
  display: inline-block;

  @media screen and (max-width: $breakSmall) {
    display: block;
  }
}

@mixin homeContent {
  width: 400px;
  padding-left: 30px;
  text-align: left;

  @media screen and (max-width: $breakSmall) {
    width: auto;
  }
}

@mixin bigOrangeButton {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: $gqOrange;
  color: $gqWhite;
  line-height: 35px;

  &:hover {
    background-color: $gqYellow;
  }
}




/* STYLES */

a, a:link {
  color: $gqOrange;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: $gqYellow;
}

img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}
img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}
a img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4 {
  @include fontTitle;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

blockquote {
  background-color: rgba(0,0,0,0.04);
  padding: 10px 20px;
}

.clearfix {
  clear: both;
}

a.big-orange-button {
  @include bigOrangeButton;
}

i.canadian, i.feat {
  display: inline-block;
  text-align: right;
  width: 18px;
  margin-right: 10px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;

  &:before {
    content: "\f240";
  }
}
i.canadian {
  background-image: url("../../images/maple-leaf.png");
}
i.feat {
  background-image: url("../../images/gold-star.png");
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  @include initZero;
  @include fontCopy;
  background-color: $gqWhite;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#content {
  @media screen and (min-width: $breakBig) {
    max-width: $breakBig;
    margin: 0 auto 0 auto;
  }
}

#header {
  position:relative;
  width: 100%;
  height: $headerHeight;
  background-color: $gqBrown;
  text-align: center;
  overflow-y: hidden;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;

  @media screen and (max-width: $breakSmall) {
    background-size: $breakSmall;
  }

  #logo-holder {
    position: relative;
    width: 100%;
    height: $logoSize;

    &:before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    img.main-logo {
      display: inline-block;
      width: $logoSize;
      max-width: 80%;
      height: auto;
      vertical-align: middle;
    }
  }
}

#nav {
  position: relative;
  margin-top: -(($menuHeight*2)+1);

  .menu-content {
    img {
      @include menuImage;
    }
    div#menu-listen {
      @include menuButton("../../images/menu-listen.png", 136px);
    }
    div#menu-donate {
      @include menuButton("../../images/menu-donate.png", 68px);
    }
    div#menu-home {
      @include menuButton("../../images/menu-home.png", 47px);
    }
    div#menu-about {
      @include menuButton("../../images/menu-about.png", 59px);
    }
    div#menu-archive {
      @include menuButton("../../images/menu-archive.png", 74px);
    }
    div#menu-contact {
      @include menuButton("../../images/menu-contact.png", 78px);
    }
    div#menu-facebook {
      @include menuButton("../../images/menu-facebook.png", 41px);
    }
    div#menu-twitter {
      @include menuButton("../../images/menu-twitter.png", 41px);
    }
    div#menu-coop {
      @include menuButton("../../images/menu-coop.png", 116px);
    }
  }

  #top-menu {
    height: $menuHeight;
    width: 100%;
    background-color: $gqTopMenuBG;
    text-align: center;
    overflow: hidden;
    @include fullWidth;

    #sm-horizontal-left {
      height: $menuHeight;
      float: left;
      margin-left: $primaryMargin;
      display: inline-block;
      overflow-y: hidden;

      @media screen and (max-width: $smLogoBreak) {
        display: none;
      }
    }

    #top-menu-content {
      height: $menuHeight;
      display: inline-block;
    }

    #sm-horizontal-right {
      height: $menuHeight;
      float: right;
      margin-right: $primaryMargin;
      display: inline-block;

      @media screen and (max-width: $smLogoBreak) {
        display: none;
      }
    }
  }
  #bottom-menu {
    height: $menuHeight;
    width: 100%;
    overflow: hidden;
    @include linearGradient(#ffffff, #eeeeee);
    @include fullWidth;

    @media screen and (max-width: $breakSmall) {
      height: auto;
      min-height: $menuHeight;
      overflow: auto;
    }

    #bottom-menu-content {
      width: 100%;
      text-align: center;
      display: inline-block;
    }
  }
}

.main-content {
  padding: $primaryMargin;

  // Styles for Widgets contained in the main content area
  li.widget {
    @include widgetReset;
    padding-bottom: $primaryMargin;

    img {
      margin-top: 5px;
    }

    a {
      //

      img {
        border-style: solid;
        border-width: 1px;
        border-color: $gqOrange;
      }

      img:hover {
        border-color: $gqBrown;
      }
    }
  }

  li.widget_search {
    //
    input#s {
      height: 30px;
      font-size: 16px;
    }
    input#searchsubmit {
      text-transform: uppercase;
      font-size: 16px;
    }
    h2.widgettitle {
      display: none;
    }
    label.screen-reader-text {
      display: none;
    }
  }

  #pagination {
    a, a:link {
      @include bigOrangeButton;
    }
    .alignleft {
      float: left;
    }
    .alignright {
      float: right;
    }
  }
}

#content-home {
  position: relative;

  h1 {
    font-size: 18px;
    color: $gqBlack;
    padding-bottom: 0;
  }

  h2:first-child {
    margin-top: 0;
    color: $gqBlack;
  }

  #about-box {
    position: relative;
    min-height: $aboutBoxHeight;
    width: 100%;
    background-color: $gqBlue;
    margin-top: -15px;
    margin-bottom: $primaryMargin;
    text-align: center;
    @include fullWidth;

    @include fontTitle;
    font-size: 22px;
    color: $gqWhite;

    span.beige {
      color: $gqBeige;
    }
    span.yellow {
      color: $gqYellow;
    }

    li.widget {
      padding-bottom: 0;
    }

    #about-left, #about-divider, #about-right {
      display: inline-block;
    }

    #about-left, #about-right {
      width: $aboutBoxWidth;
      min-height: $aboutBoxHeight;
    }

    #about-left {
      text-align: right;

      @media screen and (max-width: $breakSmall) {
        text-align: center;
      }
    }

    #about-divider {
      margin: 10px 20px;
      width: 2px;
      height: 100px;
      background-color: $gqRed;

      @media screen and (max-width: $breakSmall) {
        display: none;
      }
    }

    #about-right {
      text-align: left;

      @media screen and (max-width: $breakSmall) {
        display: none;
      }
    }
  }

  .home-box {
    position: relative;
    text-align: center;

    .home-widget-title, .home-widget {
      @include homeTitleAndContent;
    }

    .home-widget-title {
      @include homeTitle;

      p {
        margin: 0;
        &.time {
          font-size: 22px;
          color: $gqOrange;
        }
      }
    }

    .home-widget {
      @include homeContent;
    }
  }

  .home-other {
    text-align: center;

    .widget_polls-widget {
      max-width: 400px;
      margin: 0 auto 0 auto;
    }
  }

  #home-archive-link {
    margin-bottom: 70px;
  }
}

#content-archive {
  position: relative;
  text-align: center;

  .post-title, .post-content {
    @include homeTitleAndContent;
  }

  .post-title {
    @include homeTitle;

    h2.title, h4.title {
      font-weight: normal;
    }
    h2.title {
      margin-bottom: 10px;
    }
    h4.title {
      margin-top: 0;
    }
  }

  .post-content {
    @include homeContent;

    h2.summary-title {
      display: none;
    }
  }

  div.separator {
    height: 50px;
  }

  #archive-controls {
    text-align: center;
    li.widget_search {
      @include widgetReset;
      input#s {
        width: 300px;
      }
    }
  }
}

#content-post {
  position: relative;

  h1.title, h2.title {
    color: $gqBlue;
  }
  h1.title {
    margin-top: 10px;
  }
  h2.title {
    margin-bottom: 0;
  }

  a.back-button {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #post-content {
    margin-bottom: 100px;
  }

  #post-about {
    margin-top: 50px;
    margin-bottom: -40px;
    padding-top: 30px;
    background-color: $gqBlue;
    color: $gqWhite;
    @include fullWidth;

    h2.widgettitle {
      font-size: 18px;
      color: $gqRed;
    }
  }

  div#post-comments {
    background-color: rgba(0,0,0,0.05);
    margin-top: 40px;
    padding-top: 1px;
    @include fullWidth;

    ol, li {
      list-style-type: none;
    }

    ol.comment-list {
      padding-left: 0;
    }

    h2.comments-title {
      text-transform: uppercase;
      font-size: 18px;
    }
  }
}

#content-search {
  position:relative;
  text-align: center;
  a, a:link {
    padding-left: 30px;
  }

  #search-content {
    margin-top: 50px;
  }
}

footer {
  position: relative;
  height: $footerHeight;
  width: 100%;
  background-color: $gqOrange;
  overflow: hidden;
  @include fullWidth;

  #footer-top {
    position: absolute;
    top: 0;
    height: 23px;
    width: 100%;
    background-color: rgba(0,0,0,0.07);
    @include fullWidth;
  }

  #footer-logo {
    position: relative;
    height: $footerHeight;
    width: ($footerLogoWidth + ($footerLogoSpacing * 2));
    background-color: $gqDarkOrange;

    @media screen and (max-width: $breakSmall) {
      display: none;
    }

    img {
      position: absolute;
      width: $footerLogoWidth;
      height: auto;
      bottom: 10px;
      left: $footerLogoSpacing;
    }
  }

  #footer-coop {
    position: absolute;
    bottom: 0;
    right: 0;

    @media screen and (max-width: $smLogoBreak) {
      display: none;
    }

    img {
      position: absolute;
      width: $footerLogoWidth;
      height: auto;
      bottom: 20px;
      right: $footerLogoSpacing;
    }
  }

  #footer-bottom {
    position: relative;

    #footer-left, #footer-content, #footer-right {
      display: inline-block;
    }

    #footer-content {
      vertical-align: top;
      padding: 15px;

      p.footer-link-row {
        margin: 19px 0;
      }

      a, a:link {
        color: $gqBeige;
        margin: 0 20px;
      }

      a:hover {
        color: $gqYellow;
      }
    }
  }
}
