
/* IMPORT */

@import url(http://fonts.googleapis.com/css
            ?family=Open+Sans:400italic,700italic,400,700);




/* VARIABLES */

$gqTransparent: rgba(0,0,0,0);
$gqCopyShadow: rgba(0,0,0,0.004);
$gqTopMenuBG: rgba(0,0,0,0.65);
$gqWhite: #ffffff;
$gqBlue: #041a5f;
$gqOrange: #cb7817;
$gqDarkOrange: #b56b14;
$gqBrown: #523f2f;
$gqBlack: #202020;
$gqBeige: #f8e6a4;
$gqYellow: #f5d751;

$headerHeight: 500px;
$menuHeight: 68px;
$aboutBoxHeight: 169px;
$logoHeight: $headerHeight - ($menuHeight * 2);
$footerHeight: 194px;
$primaryMargin: 40px;
$footerLogoWidth: 200px;
$footerLogoSpacing: 50px;

$breakSmall: 860px;
$smLogoBreak: 980px;
$breakBig: 1200px;




/* MIXINS */

@mixin initZero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin fontCopy {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px $gqCopyShadow;
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin menuImage {
  height: $menuHeight;
  width: auto;
  padding: 0 10px;
  margin: 0 10px;
}

@mixin menuButton($thisImage, $thisWidth) {
  display: inline-block;
  height: $menuHeight;
  width: $thisWidth;
  padding: 0 10px;
  margin: 0 10px;
  background-size: $thisWidth;
  background-image: url($thisImage);
  background-repeat: no-repeat;
  background-position: bottom;
  &:hover {
    background-position: top;
  }
}

@mixin linkNormal {
  //
}

@mixin linkHover {
  //
}

@mixin fullWidth {
  // Enable background of element to extend to full-width
  // Not suitable for monitors the size of the moon
  margin-left: -9999px;
  margin-right: -9999px;
  padding-left: 9999px;
  padding-right: 9999px;
}




/* STYLES */

a, a:link {
  text-decoration: none;
  cursor: pointer;
}

img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}
img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}
a img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clearfix {
  clear: both;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  @include initZero;
  @include fontCopy;
  background-color: $gqWhite;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#content {
  @media screen and (min-width: $breakBig) {
    max-width: $breakBig;
    margin: 0 auto 0 auto;
  }
}

#header {
  position:relative;
  height: $headerHeight;
  background-color: $gqBrown;
  text-align: center;
  overflow-y: hidden;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;

  @media screen and (max-width: $breakSmall) {
    background-size: $breakSmall;
  }

  img.main-logo {
    height: $logoHeight;
    width: auto;
  }
}

#nav {
  position: relative;
  margin-top: -(($menuHeight*2)+1);

  .menu-content {
    img {
      @include menuImage;
    }
    div#menu-listen {
      @include menuButton("../../images/menu-listen.png", 136px);
    }
    div#menu-donate {
      @include menuButton("../../images/menu-donate.png", 68px);
    }
    div#menu-home {
      @include menuButton("../../images/menu-home.png", 47px);
    }
    div#menu-about {
      @include menuButton("../../images/menu-about.png", 59px);
    }
    div#menu-archive {
      @include menuButton("../../images/menu-archive.png", 74px);
    }
    div#menu-contact {
      @include menuButton("../../images/menu-contact.png", 78px);
    }
    div#menu-facebook {
      @include menuButton("../../images/menu-facebook.png", 41px);
    }
    div#menu-twitter {
      @include menuButton("../../images/menu-twitter.png", 41px);
    }
    div#menu-coop {
      @include menuButton("../../images/menu-coop.png", 115px);
    }
  }

  #top-menu {
    height: $menuHeight;
    width: 100%;
    background-color: $gqTopMenuBG;
    text-align: center;
    overflow: hidden;
    @include fullWidth;

    #sm-horizontal-left {
      height: $menuHeight;
      float: left;
      margin-left: $primaryMargin;
      display: inline-block;
      overflow-y: hidden;

      @media screen and (max-width: $smLogoBreak) {
        display: none;
      }
    }

    #top-menu-content {
      height: $menuHeight;
      display: inline-block;
    }

    #sm-horizontal-right {
      height: $menuHeight;
      float: right;
      margin-right: $primaryMargin;
      display: inline-block;

      @media screen and (max-width: $smLogoBreak) {
        display: none;
      }
    }
  }
  #bottom-menu {
    height: $menuHeight;
    width: 100%;
    overflow: hidden;
    @include linearGradient(#ffffff, #eeeeee);
    @include fullWidth;

    @media screen and (max-width: $breakSmall) {
      height: auto;
      min-height: $menuHeight;
      overflow: auto;
    }

    #bottom-menu-content {
      width: 100%;
      text-align: center;
      display: inline-block;
    }
  }
}

.main-content {
  padding: $primaryMargin;

  // Styles for Widgets contained in the main content area
  li.widget {
    list-style-type: none;
    padding-bottom: $primaryMargin;

    img {
      margin-top: 5px;
    }

    a {
      //

      img {
        border-style: solid;
        border-width: 1px;
        border-color: $gqOrange;
      }

      img:hover {
        border-color: $gqBrown;
      }
    }

    h1 {
      font-size: 18px;
      color: $gqBlack;
      padding-bottom: 0;
    }

    h2 {
      color: $gqBlack;
    }
  }
}

.content-home {
  #about-box {
    height: $aboutBoxHeight;
    width: 100%;
    background-color: $gqBlue;
    margin-top: -15px;
    margin-bottom: $primaryMargin;
    @include fullWidth;
  }
}

footer {
  position: relative;
  height: $footerHeight;
  width: 100%;
  background-color: $gqOrange;
  overflow: hidden;
  @include fullWidth;

  #footer-top {
    position: absolute;
    top: 0;
    height: 23px;
    width: 100%;
    background-color: rgba(0,0,0,0.07);
    @include fullWidth;
  }

  #footer-logo {
    position: relative;
    height: $footerHeight;
    width: ($footerLogoWidth + ($footerLogoSpacing * 2));
    background-color: $gqDarkOrange;

    @media screen and (max-width: $breakSmall) {
      display: none;
    }

    img {
      position: absolute;
      width: $footerLogoWidth;
      height: auto;
      bottom: 10px;
      left: $footerLogoSpacing;
    }
  }

  #footer-coop {
    position: absolute;
    bottom: 0;
    right: 0;
    height: $footerHeight;
    width: $footerLogoWidth;

    @media screen and (max-width: $smLogoBreak) {
      display: none;
    }

    img {
      position: absolute;
      width: $footerLogoWidth;
      height: auto;
      bottom: 10px;
      right: $footerLogoSpacing;
    }
  }

  #footer-bottom {
    position: relative;

    #footer-left, #footer-content, #footer-right {
      display: inline-block;
    }

    #footer-content {
      vertical-align: top;
      padding: 20px;

      p.footer-link-row {
        margin: 19px 0;
      }

      a, a:link {
        color: $gqBeige;
        margin: 0 20px;
      }

      a:hover {
        color: $gqYellow;
      }
    }
  }
}
